<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>{{pageTitle}}</h1>
  </div>

  <alert type="warning" *ngIf='!(products)'>Rien à visualiser......</alert>
  <alert type="success" *ngIf='products && products.length'>Voilà la liste!</alert>

  <!-- Filter the Products   -->
  <div class="panel-body">
      <div class="row" style='background-color: #ccc;'>
          <div class="col-md-2">Filter by:</div>
          <div class="col-md-4">
              <input style='background-color: #ccc;' type="text" [(ngModel)]="listFilter" />
          </div>
      </div>
      <div class="row" *ngIf="listFilter">
          <div class="col-md-6">
              <h3>Filtered by: {{ listFilter }} </h3>
          </div>
      </div>

      <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

      <div class="table-responsive">

        <table class='table' *ngIf='products && products.length'>
          <thead>
            <tr>
              <th>id</th>
              <th>nom</th>
              <th>image</th>
              <th>note</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let product of products | arrayFilter:listFilter'>
              <td>{{product.id}}</td>
              <td><a [routerLink]="['/produits', product.id]">
                    {{product.nom}}
                  </a></td>
              <td>
                <button class="btn btn-primary" (click)='toggleImage(product)'>{{product.isVisible ? ' Hide ' : ' Show '}}</button>

                  <img *ngIf="product.isVisible"
                       [src]="product.images[product.currentimage]"
                       [title]="product.nom"
                       [style.width.px]="imageWidth"
                       [style.margin.px]="imageMargin">

                <button *ngIf='product.isVisible' class="btn btn-primary" (click)='MonOnClick(product)'>next</button>
              </td>
              <!-- <td>{{product.note}}</td> -->
              <td>
                <app-star [rating]='product.note'
                        (ratingClicked)='onRatingClicked($event)'>
                </app-star>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
